* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
  padding: 20px;
  font-family: "Karla", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.play-area {
  height: 500px;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-size: 40px;
  margin: 0;
}

.instructions {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-align: center;
}

.dice-container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
  margin-bottom: 40px;
}

.die {
  display: grid;
  grid-template-areas:
    "a . b"
    "c d e"
    "f . g";
  height: 80px;
  width: 80px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  cursor: pointer;
}

.pip {
  display: block;
  align-self: center;
  justify-self: center;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

/*
  Die grid algorithm:

  Die1: Single pip centre
        1(odd and last) = d

  Die2: Two pips top left and bottom right
        1 = a and 2(!odd) = g

  Die3: Three pips top left, centre, bottom right
        1 = a and 2 = g and 3(odd and last) = d

  Die4: Four pips top left, top right, bottom left, bottom right
        1 = a and 2 = g and 3 = b and 4(!odd) = f
        
  Die5: Five pips top left, top right, center, bottom left, bottom right;
        1 = a and 2 = g and 3 = b and 4 = f and 5(odd and last) = d

  Die6: Six pips top left, top right, middle left, middle right, bottom left, bottom right
        1 = a and 2 = g and 3 = b and 4 = f and 5 = c and 6(!odd) = e
*/
.pip:nth-child(1) {
  grid-area: a;
}
.pip:nth-child(2) {
  grid-area: g;
}
.pip:nth-child(3) {
  grid-area: b;
}
.pip:nth-child(4) {
  grid-area: f;
}
.pip:nth-child(5) {
  grid-area: c;
}
.pip:nth-child(6) {
  grid-area: e;
}
.pip:nth-child(odd):last-child {
  /* only if odd (1, 3, 5) AND the last (or singular) pip  */
  grid-area: d;
}

.roll-button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 1.2rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.roll-button:hover {
  background-color: black;
  color: white;
}

.roll-button:active {
  background-color: white;
  color: black;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.stats-container {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.timer {
  display: table;
  width: 100%;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
  padding: 10px 0 10px 0;
}

.rolls {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.rolls-text {
  font-family: "Karla", sans-serif;
  font-size: 25px;
}

.roll-count {
  margin-left: 20px;
  font-size: 40px;
  font-family: "Roboto Mono", monospace;
}

.scores-button {
  height: 50px;
  width: 150px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: black;
  font-size: 1.35rem;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.scores-button:hover {
  background-color: black;
  color: white;
}

.scores-button:active {
  background-color: white;
  color: black;
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
